<br>
<div style="text-align: center;">
    <h3 style="
    color:#ffc107; 
    padding-bottom: 8px;">Ingreso Usuario</h3>

    <form action="/login">
        <div class="form-group">
            <input class="btn btn-warning my-3" type="submit" value="Login">
        </div>
    </form>

    <h3 style="
    color:#ffc107; 
    padding-bottom: 8px;">Ingreso Nuevo Usuario</h3>

    <form action="/signup">
        <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Sign Up">
        </div>
    </form>
</div>
